<h1>Counter</h1>
<p>Print out the MyNumbers array</p>

<!-- For Loop-->
 <!-- Structural directive deprecated-->
  <ul>
    <li *ngFor="let n of myNumbers">
        {{n}}
    </li>
  </ul>

  <!-- new control flow-->
   <ul>
    @for (x of myNumbers; track x) {
        <li>{{x}}</li>
    }
   </ul>

   <ul>
    @for (x of moreNumber; track x){
        <li>{{x | currency }}</li>
    }
   </ul>

    <ul>
    @for (x of moreNumber; track x){
        <li>{{x | number:'1.2-2' }}</li>
    }
   </ul>

   <!--
   1.minimun number of whole number digits
   2.min number  of decimal digits
   3.max number of decimal digits
    -->

    <ul>
        @for(n of moreNumber; track n){
            <li>{{n | percent:'1.2-2'}}</li>
        }
    </ul>

    @if(myNumbers.length > 3){
        <div>The numbers array length is greater than 3</div>
    }@else{
        <div>The numbers array length is not greater than 3</div>
    }

    <!--
    depecrated way of doing the same thing
    -->
     <div *ngIf="myNumbers.length > 3">
        The numbers array length is greater than 3
     </div>
     <div *ngIf="myNumbers.length <= 3">
        The numbers array length is not greater than 3
     </div>